<div  style=" margin-top : 40px ; 
 padding : 20px 20px 20px 20px ; 
 color : #DDDDDD ;
background-color : #101211  ;opacity : 0.9 ; 
 border-radius : 20px ; 
 font-size : 20px;
 font-weight : bold ;
 " 
 > <!-- overflow-y : auto ; -->

<h3>Rules</h3>
<ul>
<li>
Rule 1
</li>
<li>
Rule 2
</li>
<li>
Rule 2
</li>
</ul>

If thers is problem contact the admin : dqdqs@gmail.com

</div>